/*@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");*/

.FilesListFolder {
}

.check {

}


/*@include media-breakpoint-up(sm) {  }*/
/*@include media-breakpoint-up(md) { ... }*/
/*@include media-breakpoint-up(lg) { ... }*/
/*@include media-breakpoint-up(xl) { ... }*/
/*@include media-breakpoint-up(xxl) {  }*/


/*.custom-class {*/
/*     display: none;*/
/*}*/
/*@include media-breakpoint-up(sm) {*/
/*    .custom-class {*/
/*        display: block;*/
/*    }*/
/*}*/


/*@include media-breakpoint-down(sm) { ... }*/
/*@include media-breakpoint-down(md) { ... }*/
/*@include media-breakpoint-down(lg) { ... }*/
/*@include media-breakpoint-down(xl) { ... }*/
/*@include media-breakpoint-down(xxl) { ... }*/


/*X-Small devices (portrait phones, less than 576px)*/
/*@media (max-width: 575.98px) { ... }*/

/*Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) { ... }*/

/*Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }*/

/*Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }*/

/*X-Large devices (large desktops, less than 1400px)*/
/*@media (max-width: 1399.98px) { ... }*/



/*@include media-breakpoint-down(md) {*/
/*    .custom-class {*/
/*        display: block;*/
/*    }*/
/*}*/