.Layout {
    min-height: 100vh;
    background-color: #212529;
}
html, body {
    min-height: 100vh;
    background-color: #212529;
}


@media (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}